<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceStep - Servers Status</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .table-responsive {
            overflow-x: auto; /* Enable horizontal scrolling */
        }
        .table td, .table th {
            white-space: nowrap; /* Prevent text from wrapping */
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Server Status</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">R</th>
                <th scope="col">OS Version</th>
                <th scope="col">Kernel Version</th>
                <th scope="col">Created At</th>
                <th scope="col">Last Updated</th>
                <th scope="col">Last Check-In</th>
            </tr>
        </thead>
        <tbody id="server-table-body">
            {% for server, last_communication_at in servers %}
                <tr>
                    <td>{{ server.name }}</td>
                    <td>
                        {% if not server.needs_restarting %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-warning"></i>
                        {% endif %}
                    </td>
                    <td>{{ server.os_version }}</td>
                    <td>{{ server.kernel_version }}</td>
                    <td class="timeago">{{ server.created_at }}</td>
                    <td class="timeago">{{ server.updated_at }}</td>
                    <td class="timeago">{{ last_communication_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Optional: Include Bootstrap JS and Popper.js for interactive components -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js" integrity="sha384-EgMpPgA8t6YITzfRZLLpZrVASrd7xd2dHvJCUYTH6YeRSNdorHBmyA5GRmJ328xc" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script>
    // Convert UTC timestamps to local timezone using Moment.js
    $(document).ready(function() {
        $('.timeago').each(function() {
            const utcTimestamp = $(this).text();
            const localTime = moment.utc(utcTimestamp).local().format('YYYY-MM-DD HH:mm:ss');
            $(this).text(localTime);
        });
    });
</script>
</body>
</html>
