<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpaceStep - Live Server Status</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-t1nt8BQoYMLFN5p42tRAtuAAFQaCQODekUVeKKZrEnEyp4H2R0RHFz0KWpmj7i8g" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        .status-circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
        @media (max-width: 768px) {
            .table td {
                font-size: 26px; /* Adjust this value as needed */
                padding-right: 4px; /* Reduce padding to use space more effectively */
                padding-left: 4px; /* Adjust padding to align with your design needs */
            }
            .table {
                width: 100%;
                table-layout: auto; /* Adjust table layout to auto for flexible cell widths */
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid mt-5">
        <div class="row justify-content-between">
            <div class="col-8">
	        <h1 class="d-inline-block" title="Version: {{version}}" data-version="{{version}}">Server Status</h1><sup class="badge badge-pill bg-secondary align-top live-status">Unknown</sup>
            </div>
            <div class="col-4 float-end">
        <div class="progress" style="height: 25px; width: 100%">
            <div class="progress-bar bg-success" style="width: 0%"></div>
            <div class="progress-bar bg-danger" style="width: 0%"></div>
            <div class="progress-bar bg-secondary" style="width: 100%">100%</div>
        </div>
            </div>
        </div>
        <div class="small">
            <p id="last-updated">Updated <time class='timeago' id='update-time'></time><br>
            Checking for updates in: <strong><span id="countdown">10</span></strong> seconds</p>
        </div>

	<div>
            <table class="table table-striped table-hover text-nowrap">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col" class="d-none d-lg-table-cell" title="Restart status">R</th>
                        <th scope="col" class="d-none d-lg-table-cell" title="Automatic updates">A</th>
                        <th scope="col" class="d-none d-lg-table-cell">OS Version</th>
                        <th scope="col" class="d-none d-lg-table-cell">Kernel Version</th>
                        <th scope="col" class="d-none d-lg-table-cell">Booted</th>
                        <th scope="col" class="d-none d-lg-table-cell">Last Updated</th>
                        <th scope="col" class="d-none d-lg-table-cell">Last Check-in</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <!-- Data will be loaded here by jQuery -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" integrity="sha384-bIExnxLHdrb4/5cUciUyC490hqkTPFw6V1eUbG0gpKQ67B3dsT6KOdXvl5RycCM6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha384-Uz1UHyakAAz121kPY0Nx6ZGzYeUTy9zAtcpdwVmFCEwiTGPA2K6zSGgkKJEQfMhK" crossorigin="anonymous"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js" integrity="sha384-IQmpuDHNnEPrKzhE/F7jaHOs+8e/cb6ddck+TuL3uyPqXIP7kLs+dIybpFqSJddD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            let countdown = 10; // Initialize countdown
            let lastMaxUpdatedAt = ''; // Variable to store the last 'max_updated_at' value
            let lastMaxLastCommunicationAt = '';

            // Function to fetch server status
            function fetchServerStatus() {
                $.ajax({
                    url: '/api/server-status',
                    type: 'GET',
                    dataType: 'json',
                    error: function(jqXHR, textStatus, errorThrown) {
                        if(jqXHR.status === 401) {
                            // Handle 401 Unauthorized specifically
                            console.log("Unauthorized: Access is denied due to invalid credentials.");
                            $('sup.live-status').removeClass("bg-secondary bg-success bg-danger").addClass("bg-warning");
                            $('sup.live-status').text('Access Denied');
                        } else {
                            // Handle other errors
                            $('sup.live-status').removeClass("bg-secondary bg-success bg-danger").addClass("bg-danger");
                            $('sup.live-status').text('Offline');
                            console.log("Error getting data");
                        }
                    },
                    success: function(data) {
                        if ($('h1').attr('data-version') !== data.version) {
                            console.log('New version detected. Reloading...');
                            location.reload(true); // Force reload from the server, not cache
                        } else {
                            console.log('Version is up-to-date.');
                        }
			$('sup.live-status').removeClass("bg-secondary bg-success bg-danger bg-warning").addClass("bg-success");
			$('sup.live-status').text('Live');
			const currentMaxUpdatedAt = moment.utc(data.max_updated_at).local().format("YYYY-MM-DD HH:mm:ss");
			const currentMaxLastCommunicationAt = moment.utc(data.max_last_communication_at).local().format("YYYY-MM-DD HH:mm:ss");
                        // Update the 'max_updated_at' time and regenerate the table only if it has changed

                        $('#update-time').text(currentMaxUpdatedAt);
                        if (lastMaxLastCommunicationAt !== currentMaxLastCommunicationAt) {

                            // Clear existing table data
                            $('table tbody').empty();

                            // Loop through the data to append each server's status to the table
                            data.servers.forEach(function(server) {
                                const restartNeededIcon = server.needs_restarting ? '<i class="fas fa-rotate text-danger" title="OS or services must be restarted"></i>' : '<i class="far fa-check-circle text-success" title="Restart not required"></i>';
                                const  dnfAutomatiStatuses = {
                                    '0' : '<i class="fas fa-recycle text-success" title="Automatic upgrades are enabled and the service is active."></i>',
                                    '1' : '<i class="far fa-circle-pause text-warning" title="Automatic upgrades are enabled but the service is not active or enabled."></i>',
                                    '2' : '<i class="far fa-circle-stop text-warning" title="Automatic upgrades are not enabled."></i>',
                                    '3' : '<i class="far fa-circle-xmark text-danger" title="Configuration file does not exist."></i>',
                                }
			        const dnfAutomatiStatuClass = dnfAutomatiStatuses[server.dnf_automatic_status] || '<i class="far fa-circle-question text-danger" title="Unexpected status code from DNF automatic check."></i>';

                                const createdAtLocal = moment.utc(server.created_at).local().format("YYYY-MM-DD HH:mm:ss");
                                const bootedAtLocal = moment.utc(server.booted_at).local().format("YYYY-MM-DD HH:mm:ss");
                                const updatedAtLocal = moment.utc(server.updated_at).local().format("YYYY-MM-DD HH:mm:ss");
                                const lastCommunicationAtLocal = moment.utc(server.last_communication_at).local().format("YYYY-MM-DD HH:mm:ss");

                                // Append new row to the table
                                $('table tbody').append(
                                    `<tr class='live-data-row'>
					<td title="Created at: ${createdAtLocal}">${server.name}</td>
                                        <td class="d-none d-lg-table-cell restart-needed">${restartNeededIcon}</td>
                                        <td class="d-none d-lg-table-cell dnf-automatic-sttus">${dnfAutomatiStatuClass}</td>
                                        <td class="d-none d-lg-table-cell os-version">${server.os_version}</td>
                                        <td class="d-none d-lg-table-cell kernel-version">${server.kernel_version}</td>
                                        <td class="d-none d-lg-table-cell timeago" title="${bootedAtLocal}">${bootedAtLocal}</td>
                                        <td class="d-none d-lg-table-cell timeago" title="${updatedAtLocal}">${updatedAtLocal}</td>
                                        <td class="d-none d-lg-table-cell timeago" title="${lastCommunicationAtLocal}">${lastCommunicationAtLocal}</td>
                                    </tr>`
                                );
                            });

                            // Re-initialize timeago for newly added elements
                            $("td.timeago").timeago();

                            var latestVersions = {
                                'Rocky': {
                                    '7': { 'minor': '7.1', 'kernel': 'kernel_version_for_Rocky_7'},
                                    '8': { 'minor': '8.10', 'kernel': '4.18.0-553.40.1.el8_10.x86_64'},
                                    '9': { 'minor': '9.5', 'kernel': '5.14.0-503.26.1.el9_5.x86_64'}
                                },
                                'RHEL': {
                                    '8': { 'minor': '8.10', 'kernel': '4.18.0-553.40.1.el8_10.x86_64'},
                                    '9': { 'minor': '9.5', 'kernel': '5.14.0-503.29.1.el9_5.x86_64'}
                                }
                            };

                            $('table tbody tr').each(function() {
                                var osVersionCell = $(this).find('.os-version');
                                var kernelVersionCell = $(this).find('.kernel-version');
				var dnfAutomatiStatusCell = $(this).find('.dnf-automatic-status');
                                var osVersionText = osVersionCell.text();
                                var kernelVersion = kernelVersionCell.text();

                                // Adjusted regex to match both Rocky Linux and RHEL versions
                                var rockyMatch = osVersionText.match(/Rocky Linux (\d+\.\d+)/);
                                var rhelMatch = osVersionText.match(/Red Hat Enterprise Linux (\d+\.\d+)/);

                                if (rockyMatch || rhelMatch) {
                                    var isRocky = rockyMatch != null;
                                    // Assuming rockyMatch and rhelMatch are obtained as you've shown
                                    var osVersion;
                                    if (isRocky && rockyMatch) {
                                        osVersion = rockyMatch[1]; // Access the first captured group directly
                                    } else if (!isRocky && rhelMatch) {
                                        osVersion = rhelMatch[1]; // Access the first captured group directly
                                    }
				    var osVersionMajor = osVersion.match(/(\d+)\.(\d+)/)[1]
                                    var osKey = isRocky ? 'Rocky' : 'RHEL';
                                    var isKernelVersionCorrect = latestVersions[osKey][osVersionMajor].minor === osVersion && latestVersions[osKey][osVersionMajor].kernel === kernelVersion;

                                    if (isKernelVersionCorrect) {
                                        $(this).addClass('table-success');
                                    } else {
                                        if (latestVersions[osKey][osVersionMajor] && latestVersions[osKey][osVersionMajor].minor !== osVersion) {
                                            osVersionCell.addClass('text-danger');
                                        }
                                        if (latestVersions[osKey][osVersionMajor] && !isKernelVersionCorrect) {
                                            kernelVersionCell.addClass('text-danger');
                                        }
                                        $(this).addClass('table-danger');
                                    }
                                }
                            });

			    lastMaxLastCommunicationAt = currentMaxLastCommunicationAt;
                            // Reset countdown
                            //countdown = 10;
			}
                        // Update horizontal bar graph
                        var liveRows=$('tr.live-data-row').length;
                        var liveRowsSuccess = $('tr.live-data-row.table-success').length/liveRows*100;
                        var liveRowsDanger = $('tr.live-data-row.table-danger').length/liveRows*100;
                        $('div.progress-bar.bg-success').text(parseFloat(liveRowsSuccess).toFixed(2)+"%");
                        $('div.progress-bar.bg-success').attr('title', $('tr.live-data-row.table-success').length);
                        $('div.progress-bar.bg-danger').text(parseFloat(liveRowsDanger).toFixed(2)+"%");
                        $('div.progress-bar.bg-danger').attr('title', $('tr.live-data-row.table-danger').length);
                        $('div.progress-bar.bg-secondary').text(parseFloat(100 - liveRowsSuccess - liveRowsDanger).toFixed(2)+"%");
                        $('div.progress-bar.bg-secondary').attr('title', $('tr.live-data-row').length - $('tr.live-data-row.table-success').length - $('tr.live-data-row.table-danger').length);
                        $('div.progress-bar.bg-success').css('width', parseFloat(liveRowsSuccess).toFixed(2)+"%");
                        $('div.progress-bar.bg-danger').css('width', parseFloat(liveRowsDanger).toFixed(2)+"%");
                        $('div.progress-bar.bg-secondary').css('width', parseFloat(100 - liveRowsSuccess - liveRowsDanger).toFixed(2)+"%");

                        $('#countdown').text(countdown.toString().padStart(2, '0')); // Update the countdown display
                    }
                });
            }

            // Function to update the countdown every second
            function updateCountdown() {
                countdown -= 1; // Decrement countdown
                $('#countdown').text(countdown.toString().padStart(2, '0')); // Update the countdown display

                // When countdown reaches 0
                if (countdown <= 0) {
                    countdown = 10; // Reset countdown for the next cycle
                    fetchServerStatus(); // Fetch server status again
                }
            }

            // Fetch server status immediately when document is ready
            fetchServerStatus();
            // Set an interval to update countdown every second
            setInterval(updateCountdown, 1000);

            // Note: The actual fetch for new server status happens via the countdown reaching 0 in updateCountdown.
        });

    </script>
</body>
</html>
